@import '../../global.scss';

.portfolioList {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-right: 50px;
    padding: 7px 14px;
    border-radius: 5px;
    cursor: pointer;

    @include mobile {
        margin-right: 20px;
    }
    &:hover {
        background-color: $portfolio-dark;
        filter: brightness(1.2)
    }
    &.active {
        background-color: $portfolio-dark;
        // color: white;
        // text-decoration: underline;
    }
}
