@import '../../global.scss';

.works {
    height: fit-content;

    background-color: $works-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    h1 {
        position: absolute;
        top: 0;
        left: 10px;
        z-index: 99;
    }
    .arrow {
        position: absolute;
        height: 50px;
        cursor: pointer;
        @include mobile {
            display: none;
        }
        &.left {
            left: 100px;
            transform: rotate(90deg);
        }
        &.right {
            right: 100px;
            transform: rotate(-90deg);
        }
    }
    .slider {
        height: 350px;
        display: flex;
        position: absolute;
        left: 5vw;
        transition: all 1s ease-out;
        @include mobile {
            left: 0;
            position: relative;
            height: fit-content;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 50px;
        }
        
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 20px;
            @include mobile {
            }
            .item {
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                @include mobile {
                    width: 90%;
                    // height: 120vw;
                    margin: 10px 0;
                    flex-direction: column;
                }
                .left {
                    flex: 4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include mobile {
                        // flex: 5;
                        flex: none;
                        width: 90%;
                        order: 2;
                        margin: 10px 0;
                    }

                    .leftContainer {
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        @include mobile {
                            justify-content: start; 
                        }
                        .iconRow {
                            display: flex;
                            .imgContainer {
                                width: 40px;
                                height: 40px;
                                margin: 0 5px;
                                border-radius: 50%;
                                background-color: $works-light;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                @include mobile {
                                    width: 20px;
                                    height: 20px;
                                }
                                img {
                                    width: 25px;
                                    height: 23px;
                                    @include mobile {
                                        width: 13px;
                                        height: 11px;
                                    }
                                }
                            }
                        }
                        h2 {
                            font-size: 26px;
                            color: $works-text;
                            @include mobile {
                                font-size: 16px;
                                margin-top: 8px;
                            }
                        }
                        p {
                            font-size: 13px;
                            @include mobile {
                                font-size: 12px;
                                margin-top: 5px;
                            }
                        }
                        span {
                            font-size: 12px;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;
                            @include mobile {
                                margin-top: 5px;
                            }
                        }
                    }
                }
                .right {
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    position: relative;
                    // border: 1px solid #ccc;
                    // box-sizing: border-box;
                    @include mobile {
                        // flex: 6;
                        flex: none;
                        width: 100%;
                        order: 1;
                        height: 60vw;
                    }
                    img {
                        width: 440px;
                        // transform: rotate(-10deg);
                        position: absolute;
                        top: 0;
                        @include mobile {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}