@import '../../global.scss';

.works {
    background-color: $warnColor;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow {
        position: absolute;
        height: 50px;
        cursor: pointer;
        @include mobile {
            display: none;
        }
        &.left {
            left: 100px;
            transform: rotate(90deg);
        }
        &.right {
            right: 100px;
            transform: rotate(-90deg);
        }
    }
    .slider {
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;
        @include mobile {
            height: 100vh;
            flex-direction: column;
            justify-content: center;
        }
        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            .item {
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include mobile {
                    width: 90%;
                    height: 200px;
                    margin: 5px 0;
                }
                .left {
                    flex: 4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .leftContainer {
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .iconRow {
                            display: flex;
                            .imgContainer {
                                width: 40px;
                                height: 40px;
                                margin: 0 5px;
                                border-radius: 50%;
                                background-color: rgb(214, 163, 163);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                img {
                                    width: 25px;
                                    height: 23px;
                                }
                            }
                        }
                        h2 {
                            font-size: 20px;
                        }
                        p {
                            font-size: 13px;
                        }
                        span {
                            font-size: 12px;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
                .right {
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    position: relative;
                    // border: 1px solid #ccc;
                    // box-sizing: border-box;
                    img {
                        width: 440px;
                        // transform: rotate(-10deg);
                        position: absolute;
                        top: 0;
                    }
                }
            }
        }
    }
}