@import './global.scss';

.App {
    height: 100vh;
    .section {
        width: 100%;
        height: calc(100vh - $nav-index-height);
        background-color: rgb(240, 166, 153);
        /* 
            讓section定位在Nav下方 
            scroll-snap-type, scroll-snap-align 可以偵測區塊邊界

        */
        position: relative;
        top: $nav-index-height;
        scroll-behavior: smooth;
        // scroll-snap-type:  y mandatory;
        scrollbar-width: none; //for firefox
        &::-webkit-scrollbar {
            display: none;
        }
        @include mobile {
            height: calc(100vh - $nav-mobile-height);
        }

        > * {
            /* section裡面的所有元件 */
            width: 100vw;
            min-height: calc(100vh - $nav-index-height);
            // scroll-snap-align: start;
            @include mobile {
                min-height: calc(100vh - $nav-mobile-height);
            }
        }
    }
}