$mainColor: rgb(79, 133, 165);
$portfolio-light: #dfcc78;
$portfolio-dark: #438496;
$works-light: #ccb18e;
$works-dark: #89b6a8;
$works-text: #205041;
$nav-index-height: 70px;
$nav-mobile-height: 55px;

$width: 768px;
@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}